/* 引进字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf?t=1647699861791') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

img {
    border: 0;
    vertical-align: middle;
}

input,
button {
    border: 0;
    background-color: #fff;
    border-style: none;
    border: transparent;
    outline: none;
}